<html>
    <body>
        <form th:action="@{/login/authenticate}"
        method="post"
        th:object="${loginRequest}">
            <text>email :</text>
            <input
                th:field="*{email}"
                name="email"
                id="email"
                type="text">
                <br>

            <text>password :</text>
            <input
                th:field="*{password}"
                name="password"
                id="password"
                type="password">
                <br>
            <button type="submit">SUBMIT</button>
        </form>
    </body>
</html>